In [1]:
import pandas as pd
import os
from utils import *
from aggregations import *

In [2]:
data_dict = {
    "pib_par_industrie": {
        "path": os.path.join("data", "stats_can", "pib_par_industrie.csv"),
        "gran:": "industrie and monthly",
        "date_range": ["199701", "202312"],
        "nom": "pib_par_industrie",
        "delimiter": ",",
        "select": {
            "REF_DATE": "CalendarMonth",
            "North American Industry Classification System (NAICS)": "industry",
            "VALUE": "PIB_par_industrie",
        }
    },
    "investissement_construction": {
        "path": os.path.join("data", "stats_can", "investissement_construction.csv"),
        "gran:": "monthly",
        "date_range": ["201701", "202312"],
        "nom": "investissement_construction",
        "delimiter": ";",
        "select": {
            "PÉRIODE DE RÉFÉRENCE": "CalendarMonth",
            "Type de structure": "structure_type",
            "VALEUR": "inverstissement_construction"
        }
    },
    "construction_par_region": {
        "path": os.path.join("data", "stats_can", "construction_par_region.csv"),
        "gran:": "yearly, par region",
        "date_range": ["200501", "202312"],
        "nom": "construction_par_region",
        "delimiter": ";",
        "select": {
            "PÉRIODE DE RÉFÉRENCE": "CalendarYear",
            "Estimations de logement": "construction_status",
            "Type d'unité": "construction_unit_type",
            "VALEUR": "unit_count",
        }
    },
    "indice_de_prix_logements": {
        "path": os.path.join("data", "stats_can", "indice_de_prix_logements.csv"),
        "gran:": "monthly",
        "date_range": ["200501", "202312"],
        "nom": "indice_de_prix_logements",
        "delimiter": ";",
        "select": {
            "PÉRIODE DE RÉFÉRENCE": "CalendarMonth",
            "Indices des prix des logements neufs": "new_housing_price_index",
            "VALEUR": "indice_de_prix_logements",
        }
    },
    "taux_hypothecaire_terme_5ans": {
        "path": os.path.join("data", "stats_can", "taux_hypothecaire_terme_5ans.csv"),
        "gran:": "monthly",
        "date_range": ["200501", "202312"],
        "nom": "taux_hypothecaire_terme_5ans",
        "delimiter": ";",
        "select": {
            "PÉRIODE DE RÉFÉRENCE": "CalendarMonth",
            "VALEUR": "taux_hypothecaire_terme_5ans",
        }
    },
    "demographic_growth":{
        "path": os.path.join("data", "stats_can", "demographic_growth.csv"),
        "gran": "yearly",
        "date_range": ["1998", "2023"],
        "nom": "demographic_growth",
        "delimiter": ",",
        "select": {
            "REF_DATE": "REF_DATE",
            "Components of population growth": "Components of population growth",
            "VALUE": "VALUE",
        }
    }    
}

In [3]:
output_dict = {}
id = 0
for table, table_info in data_dict.items():
    id += 1
    df = load_table(table_info["path"], table_info["delimiter"])
    df = select_rename_columns(df, table_info["select"])
    output_dict[table] = df
    # print the name of the table
    print(" " * 100)    
    print(table)
    if table == "pib_par_industrie":
        print(df.columns)
        df = extract_year(df)        
        df = agg_pib(df)
    if table == "investissement_construction":
        print(df.columns)
        df = extract_year(df)
        df = agg_investissement(df)
    if table == "construction_par_region":
        print(df.columns)
        df = extract_year(df)
        df = agg_construction(df)
    if table == "indice_de_prix_logements":
        print(df.columns)
        df = extract_year(df)
        df = agg_price_index(df)
    if table == "demographic_growth":
        print(df.columns)
        df = extract_year(df)
        df = agg_demo(df)
    # print(get_date_range(df))
    # print(df.shape[0])
    # print(df.head(5))
    print(df.columns)
    df = extract_year(df)

    output_dict[table] = df

pib_par_industrie
Index(['CalendarMonth', 'industry', 'PIB_par_industrie'], dtype='object')
Index(['CalendarMonth', 'All industries [T001]', 'Construction [23]',
       'Energy sector [T016]', 'Finance and insurance [52]',
       'Public Sector [T018]', 'Real estate and rental and leasing [53]',
       'Transportation and warehousing [48-49]'],
      dtype='object', name='industry')

investissement_construction
Index(['CalendarMonth', 'structure_type', 'inverstissement_construction'], dtype='object')
Index(['CalendarMonth', 'inverstissement_construction'], dtype='object')

construction_par_region
Index(['CalendarYear', 'construction_status', 'construction_unit_type',
       'unit_count'],
      dtype='object')
Index(['CalendarYear', 'unit_count'], dtype='object')

indice_de_prix_logements
Index(['CalendarMonth', 'new_housing_price_index', 'indice_de_prix_logements'], dtype='object')
Index(['CalendarMonth', 'Maison seulement', 'Terrain seulement',
       'Total (maison et terrain)'],
      dtype='object', name='new_housing_price_index')

taux_hypothecaire_terme_5ans
Index(['CalendarMonth', 'taux_hypothecaire_terme_5ans'], dtype='object')

demographic_growth
Index(['REF_DATE', 'Components of population growth', 'VALUE'], dtype='object')
Index(['CalendarYear', 'Births', 'Deaths', 'Emigrants', 'Immigrants'], dtype='object', name='Components of population growth')

In [4]:

joined_df = output_dict["pib_par_industrie"].merge(output_dict["investissement_construction"], on="CalendarMonth", how="outer")
joined_df["CalendarYear"] = joined_df["CalendarMonth"].apply(lambda x: x[:4])
joined_df["CalendarYear"] = joined_df["CalendarYear"].astype(int)
joined_df = joined_df.merge(output_dict["construction_par_region"], on="CalendarYear", how="outer")
joined_df = joined_df.merge(output_dict["indice_de_prix_logements"], on="CalendarMonth", how="outer")
joined_df = joined_df.merge(output_dict["taux_hypothecaire_terme_5ans"], on="CalendarMonth", how="outer")
joined_df = joined_df.merge(output_dict["demographic_growth"], on="CalendarYear", how="outer")


rename_list = [
    ("All industries [T001]", "PIB_all_industries"),
    ("Construction [23]", "PIB_construction"),
    ("Energy sector [T016]", "PIB_energy"),
    ("Finance and insurance [52]", "PIB_finance_insurance"),
    ("Public Sector [T018]", "PIB_public_sector"),
    ("Real estate and rental and leasing [53]", "PIB_real_estate"),
    ("Transportation and warehousing [48-49]", "PIB_transportation"),
    ("inverstissement_construction", "inverstissement_construction"),
    ("unit_count", "construction_unit_count"),
    ("Maison seulement", "house_only_price_index"),
    ("Terrain seulement", "land_only_price_index"),
    ("Total (maison et terrain)", "price_index_total"),
    ]
for x in rename_list:
    joined_df = joined_df.rename(columns={x[0]: x[1]})

In [5]:
print(joined_df.columns)
print(joined_df.shape[0])
# convert every column to float
for col in joined_df.columns:
    if col != "CalendarMonth" and col != "CalendarYear":
        joined_df[col] = joined_df[col].astype(float)

Index(['CalendarMonth', 'PIB_all_industries', 'PIB_construction', 'PIB_energy',
       'PIB_finance_insurance', 'PIB_public_sector', 'PIB_real_estate',
       'PIB_transportation', 'inverstissement_construction', 'CalendarYear',
       'construction_unit_count', 'house_only_price_index',
       'land_only_price_index', 'price_index_total',
       'taux_hypothecaire_terme_5ans', 'Births', 'Deaths', 'Emigrants',
       'Immigrants'],
      dtype='object')
324

In [6]:
joined_df

,CalendarMonth,PIB_all_industries,PIB_construction,PIB_energy,PIB_finance_insurance,PIB_public_sector,PIB_real_estate,PIB_transportation,inverstissement_construction,CalendarYear,construction_unit_count,house_only_price_index,land_only_price_index,price_index_total,taux_hypothecaire_terme_5ans,Births,Deaths,Emigrants,Immigrants
0,1997-01,1204015.0,77365.0,103517.0,67302.0,NaN,137687.0,55400.0,NaN,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997-02,1211631.0,77934.0,104017.0,68039.0,NaN,137446.0,56001.0,NaN,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997-03,1211507.0,77959.0,104637.0,67991.0,NaN,137405.0,56321.0,NaN,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997-04,1219735.0,78973.0,105778.0,67894.0,NaN,137247.0,56666.0,NaN,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997-05,1224088.0,79937.0,104089.0,68419.0,NaN,137310.0,57128.0,NaN,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,2023-08,2201064.0,163953.0,147172.0,157155.0,461762.0,292882.0,91214.0,2.020637e+10,2023,NaN,128.1,117.0,125.0,6.17,357903.0,330379.0,94576.0,468817.0
320,2023-09,2200484.0,164288.0,145532.0,156815.0,462571.0,292946.0,91404.0,2.099020e+10,2023,NaN,127.8,116.8,124.7,6.27,357903.0,330379.0,94576.0,468817.0
321,2023-10,2201672.0,163725.0,147026.0,157050.0,463230.0,292573.0,91297.0,2.080995e+10,2023,NaN,127.6,116.9,124.7,6.42,357903.0,330379.0,94576.0,468817.0
322,2023-11,2205683.0,163047.0,150030.0,156790.0,460454.0,292929.0,92009.0,2.059018e+10,2023,NaN,127.2,116.8,124.4,6.47,357903.0,330379.0,94576.0,468817.0
323,2023-12,2205170.0,161988.0,149613.0,157974.0,455708.0,294683.0,92011.0,NaN,2023,NaN,127.2,116.8,124.4,6.39,357903.0,330379.0,94576.0,468817.0

In [7]:
save_table(joined_df, "cleaned_data\joined_data.csv")

'saved at cleaned_data\\joined_data.csv'

In [8]:
# print all columns and their type in the dataframe
for col in joined_df.columns:
    print(col, joined_df[col].dtype)
    print(joined_df[col].describe())

CalendarMonth object
count         324
unique        324
top       1997-01
freq            1
Name: CalendarMonth, dtype: object
PIB_all_industries float64
count    3.240000e+02
mean     1.741511e+06
std      2.726023e+05
min      1.204015e+06
25%      1.525979e+06
50%      1.713583e+06
75%      1.954756e+06
max      2.207237e+06
Name: PIB_all_industries, dtype: float64
PIB_construction float64
count       324.000000
mean     129032.132716
std       27943.245999
min       77365.000000
25%      104206.500000
50%      130107.000000
75%      153951.000000
max      170526.000000
Name: PIB_construction, dtype: float64
PIB_energy float64
count       324.000000
mean     124308.055556
std       14614.938309
min      101265.000000
25%      112607.000000
50%      121181.500000
75%      136495.500000
max      152750.000000
Name: PIB_energy, dtype: float64
PIB_finance_insurance float64
count       324.000000
mean     109477.734568
std       26802.785377
min       67302.000000
25%       85807.750000
50%      104830.500000
75%      132855.500000
max      157974.000000
Name: PIB_finance_insurance, dtype: float64
PIB_public_sector float64
count       204.000000
mean     395503.215686
std       32480.293542
min      336418.000000
25%      375126.000000
50%      387360.500000
75%      419550.250000
max      463230.000000
Name: PIB_public_sector, dtype: float64
PIB_real_estate float64
count       324.000000
mean     214075.787037
std       47775.502576
min      137247.000000
25%      172005.250000
50%      210870.000000
75%      256710.500000
max      294683.000000
Name: PIB_real_estate, dtype: float64
PIB_transportation float64
count       324.000000
mean      75274.719136
std       11343.082760
min       55400.000000
25%       65540.750000
50%       73272.000000
75%       84322.250000
max      101925.000000
Name: PIB_transportation, dtype: float64
inverstissement_construction float64
count    8.300000e+01
mean     1.667445e+10
std      3.138059e+09
min      1.000862e+10
25%      1.445421e+10
50%      1.660933e+10
75%      1.887987e+10
max      2.403150e+10
Name: inverstissement_construction, dtype: float64
CalendarYear int32
count     324.000000
mean     2010.000000
std         7.800929
min      1997.000000
25%      2003.000000
50%      2010.000000
75%      2017.000000
max      2023.000000
Name: CalendarYear, dtype: float64
construction_unit_count float64
count      216.000000
mean     11981.000000
std       2499.668882
min       9750.000000
25%      10129.000000
50%      11093.000000
75%      12980.000000
max      18402.000000
Name: construction_unit_count, dtype: float64
house_only_price_index float64
count    228.000000
mean      96.520614
std       15.184349
min       69.100000
25%       86.275000
50%       94.300000
75%      102.900000
max      129.800000
Name: house_only_price_index, dtype: float64
land_only_price_index float64
count    228.000000
mean      97.850000
std       10.658324
min       73.000000
25%       91.800000
50%       96.400000
75%      104.100000
max      117.200000
Name: land_only_price_index, dtype: float64
price_index_total float64
count    228.000000
mean      96.975439
std       13.833596
min       70.100000
25%       87.900000
50%       94.900000
75%      103.300000
max      126.100000
Name: price_index_total, dtype: float64
taux_hypothecaire_terme_5ans float64
count    228.000000
mean       4.681754
std        0.982620
min        3.200000
25%        3.957500
50%        4.380000
75%        5.592500
max        6.810000
Name: taux_hypothecaire_terme_5ans, dtype: float64
Births float64
count       312.000000
mean     362508.307692
std       19736.121776
min      327487.000000
25%      341833.000000
50%      367912.000000
75%      380554.000000
max      384300.000000
Name: Births, dtype: float64
Deaths float64
count       312.000000
mean     252556.730769
std       32726.806194
min      217229.000000
25%      225915.000000
50%      240282.500000
75%      274517.000000
max      330379.000000
Name: Deaths, dtype: float64
Emigrants float64
count       312.000000
mean      67605.500000
std       17682.386951
min       47766.000000
25%       57633.000000
50%       62925.500000
75%       67893.000000
max      119964.000000
Name: Emigrants, dtype: float64
Immigrants float64
count       312.000000
mean     269216.884615
std       70011.012589
min      173194.000000
25%      239101.000000
50%      255393.000000
75%      272694.000000
max      493236.000000
Name: Immigrants, dtype: float64